@media (prefers-color-scheme: dark) {
  :root {
    --bg:gray;
    --slide-bg:black;
    --slide-fg:white;
  }
}

body {
  margin:0;
  background: var(--bg, gray);
  font-family: sans-serif;
  counter-reset: slide;
}
body > section::before {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 3vh;
  counter-increment: slide;
  content: counter(slide) ' / ' var(--total-slides);
}
body > section {
  margin: 1rem;
  margin-bottom: 2rem;
  width: calc(100% - 2rem);
  height: calc(100vh - 2rem);
  border-radius:1rem 1rem 0rem 1rem;

  font-size: 7vh;
  color: var(--slide-fg, black);
  background: var(--slide-bg, white);
  transition: 200ms top;
}
body > section li {
  margin: 0;
  font-size: 6vh;
  list-style-position: outside;
}
body > section pre {
  flex-basis: min-content;
  margin: 0;
  font-size: 4vh;
}

body > section a {
  color: var(--bg, gray);
}

p > code {
  background-color: var(--bg, gray);
  border-radius: 0.5ch;
  padding: 0 0.5ch;
  font-size: 0.8em;
}
