:root {
  --bg: #928374;
  --slide-bg: #fbf1c7;
  --slide-fg: #3c3836;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #928374;
    --slide-bg: #282828;
    --slide-fg: #ebdbb2;
  }
}

body {
  background: var(--bg);
  font-family: sans-serif;
  counter-reset: slide;
}

body > section::before {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 3vh;
  counter-increment: slide;
  content: counter(slide) ' / ' var(--total-slides, 0);
}

body > section {
  margin: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  width: calc(100% - 4rem);
  height: calc(100vh - 4rem);
  border-radius:1rem 1rem 0rem 1rem;

  font-size: 7vh;
  color: var(--slide-fg);
  background: var(--slide-bg);
}

@media (prefers-reduced-motion: no-preference) {
  body > section {
    transition: 200ms top;
  }
}

body > section.row {
  flex-direction: row;
  gap: 1rem;
}

body > section.row > * {
  flex: 1 1 auto;
  height: auto;
  max-height: 100%;
  width: 0;
  margin-top: 0;
}

body > section li {
  margin-left: 2ch;
  list-style-position: outside;
  font-size: 6vh;
}

body > section pre {
  flex-basis: min-content;
  font-size: 4vh;
}

body > section a {
  color: var(--bg);
}

body > section p > code {
  color: var(--slide-bg);
  background-color: var(--bg);
  border-radius: 0.3ch;
  padding: 0 0.5ch;
  font-size: 6vh;
}
